html,
body {
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: #212121;
  font-family: "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic,
    Meiryo, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wrapper {
  height: 100vh;
  display: flex;
}

.wrapper::before {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  background: inherit;
  filter: blur(3px);
  z-index: -1;
}

.wrapper .char {
  color: #FAFAFA;
  margin: auto;
  font-size: 8vh;
}

.controls {
  position: absolute;
  bottom: 10px;
  left: 30px;
  right: 30px;
  background: rgba(200, 200, 200, 0.2);
  padding: 5px;
  border-radius: 30px;
  z-index: 100;
}

.control {
  display: flex;
  align-items: center;
}

.control .ui.button {
  margin-right: 5px;
  flex-grow: 0;
}

.control .ui.button:last-child {
  margin-right: 0;
}

.control .seekbar {
  flex-grow: 1;
  padding: 0 10px;
}

.credit {
  position: absolute;
  left: 50px;
  bottom: 80px;
  color: #FAFAFA;
  font-size: 3vh;
}

.media {
  position: absolute;
  right: 50px;
  bottom: 80px;
  z-index: 20;
}

.gw-glitched {
  color: #757575;
}